* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 8vh;
  display: flex;
  background-color: snow;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px 15px;
  top: 0;
  left: 0;
  z-index: 10;
}
.Logo {
  width: 15%;
  padding: 5px;
}
.logo {
  width: 100%;
}
.navList {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100vh;
  width: 55%;
  padding-top: 8vh;
  padding-left: 30px;
  font-size: 20px;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: none;
  border-radius: 15px 0 0 15px;
}
.menus {
  font-size: 23px;
  z-index: 20;
}
#closeMenu {
  display: none;
}
.navList li {
  list-style: none;
  padding: 5px 0px;
}
.navList li a {
  text-decoration: none;
  color: black;
}
.navList.open {
  transform: translate(0%);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2), -10px 0 20px rgba(0, 0, 0, 0.1);
}
.navList li:last-child {
  display: none;
}
.ImgSlider {
  height: 55vh;
  width: 100%;
  margin-top: 8vh;
  overflow: hidden;
  position: relative;
  display: flex; /* Flexbox for centering content */
  justify-content: center;
}
.images {
  height: 100%;
  width: 100%;
  /* max-width: 400%; */
  display: flex;
  transition: transform 2s ease;
}
.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.imgBtns {
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  gap: 10px;
  width: 50%;
  justify-content: center; /* Ensures buttons are evenly spaced and centered */
  transform: translateX(-50%);
}
.imgBtns span {
  height: 15px;
  width: 15px;
  background-color: rgb(241, 243, 242);
  border-radius: 50%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.imgBtns span:hover,
.imgBtns span.active {
  transform: scale(1.3);
  background-color: rgb(0, 0, 0);
}
.imgContent {
  position: absolute;
  color: azure;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  height: 80%;
  flex-direction: column;
  gap: 10px;
}

.appointBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  height: 20%;
  width: 55%;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: navy;
  color: snow;
}
.appointBtn1 {
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: navy;
  color: snow;
}
.appointBtn:hover,
.appointBtn1:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  color: #fff; /* Keep the text white */
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.experience {
  padding: 40px 0px;
  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  gap: 25px;
}
.experience div {
  width: 45%;
  text-align: center;
}
.content1 {
  padding: 0px 20px;
}
.mainCon {
  text-align: center;
  margin: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.mainCon h1 {
  margin-bottom: 20px;
}
.mainCon p {
  font-size: 18px;
}
.mainCon a {
  height: 7vh;
  width: 50%;
}
.readBtn {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 15px;
  background-color: yellowgreen;
  color: snow;
  font-size: 20px;
  margin: 15px 0px;
  cursor: pointer;
}
.readBtn:hover {
  background-color: navy; /* Slightly darker green on hover */
  color: #fff; /* Keep the text white */
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.content1 img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 15px;
  margin: 20px 0;
}
.WhyUsBlock {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fbfbfb;
}
.Whydescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.Whydescription h1 {
  margin: 15px 0px;
}
.WhyCon,
.WhyCon1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.WhyImg {
  width: 90%;
  margin: auto;
}
.whyDetails {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Creates an outer shadow */
  border-radius: 10px;
  padding: 35px 20px;
  width: 90%;
  margin: 0 auto;
}
.whyDetails img {
  border-radius: 50%;
  width: 25%;
}
.leaderShipCon {
  padding: 20px;
  background-color: #042558;
  padding-bottom: 45px;
}
.docProfile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ConNav {
  text-align: center;
  margin: 0px 20px 40px 20px;
  color: snow;
}
.ConNav h1 {
  margin: 15px;
}
.doc {
  background-color: #c2e8ff;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.doc img {
  width: 40%;
  height: 25vh;
  border-radius: 10%;
  object-fit: cover;
  margin: 20px 30%;
}
.docData {
  padding: 0px 20px;
}
.docData h2,
.docData p {
  margin: 5px 0px;
}
.docData p {
  margin: 15px 0px;
}
.Fees {
  position: relative;
}
.Fees img {
  width: 100%;
}
.feeCon {
  position: absolute;
  top: 10%;
  left: 5%;
}
.feeCon h2 {
  margin: 20px 0px;
}
.feeBtn {
  height: 7vh;
  width: 50%;
  border: 0;
  border-radius: 15px;
  background-color: #3c5dcc;
  color: #ffff;
  cursor: pointer;
}
.feeBtn:hover {
  background-color: #45a049; /* Slightly darker green on hover */
  color: #fff; /* Keep the text white */
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.Specialists {
  margin: 30px 20px;
}
.specialistDesc {
  text-align: center;
  margin-bottom: 30px;
}
.specialistDesc h2 {
  margin: 20px;
}
.specialistSlider {
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  border: 3px solid;
}
.specialistImg {
  display: flex;
  width: 100%;
  height: 38vh;
  transition: transform 1s ease-in-out;
}
.specialistImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 35px;
}
.specialistBtns {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 30px;
}
.specialistBtns p {
  height: 15px;
  width: 15px;
  background-color: #7590bd;
  border-radius: 50%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.specialistBtns p:hover,
.specialistBtns p.active {
  transform: scale(1.1);
  background-color: #0a525e;
}
.specialistCon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.rightArrow {
  font-size: 35px;
  cursor: pointer;
}
.sSlider2 {
  display: none;
}
.specialistBtns1 {
  display: none;
}
.serviceCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
  margin-top: 40px;
  padding: 50px 0px;
  background-color: #041124;
}
.serviceCon a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.serviceCon a:hover {
  transform: scale(1.1);
}

.faqs i {
  font-size: 55px;
  margin: 20px 0px;
}
.faqs h2 {
  margin: 15px;
}
.container {
  width: 100%;
  padding: 70px 0px;
  background-color: #344d75;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0px;
}
.container form {
  width: 80%;
  background-color: #ffff;
  padding: 30px 10px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#icon {
  position: absolute;
  left: 50%;
  top: -5%;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
  position: relative;
}

.input-group label {
  flex-basis: 30%;
  font-size: 17px;
}
.input-group input,
.input-group textarea {
  flex-basis: 68%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid;
  height: 30px;
  font-size: 14px;
}
.input-group textarea {
  height: 80px;
}
.container form button {
  width: 50%;
  height: 35px;
  border: 0;
  border-radius: 5px;
  color: white;
  background-color: #141a34;
  font-size: 17px;
  margin: 15px 0px;
}
.input-group span {
  position: absolute;
  right: 0px;
  color: red;
  bottom: -23px;
  right: 10px;
}
.submit-error {
  text-align: left;
  width: 100%;
  color: red;
}
.conDesc {
  color: white;
  text-align: center;
  margin-bottom: 50px;
  width: 85%;
}
.conDesc h1 {
  margin: 15px;
}
.reviews {
  margin: 50px 40px;
}
footer {
  background-color: #ecf2fe;
}
.footerDesc {
  text-align: center;
  padding: 30px;
}
.footerDesc h1 {
  margin: 20px;
}
.footerCon {
  padding: 0px 30px;
  margin: 40px 0px;
}
.Fimg {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.Fimg img {
  width: 70%;
  height: 30vh;
  border-radius: 50%;
}
.footerappointBtn {
  height: 8vh;
  width: 60%;
  border: 0;
  border-radius: 10px;
  background-color: #212787;
  color: white;
}
.Fcontact {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  margin: 0px 45px;
}
.Fcontact i {
  font-size: 30px;
  padding-bottom: 15px;
  color: cadetblue;
}
.Fcontact div a {
  text-decoration: none;
  color: #041124;
}
.footerCon {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.location iframe {
  border: 0;
  width: 100%;
  height: 40vh;
}
.copyRight {
  padding: 20px;
  text-align: center;
  background-color: #b2b9e3;
}
.ImgCon {
  margin-top: 8vh;
  position: relative;
}
.ImgCon img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}
.ImgCon h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid;
  padding: 15px 20px;
  width: 60%;
  text-align: center;
}
.Content {
  padding: 30px 0px;
}
.ConDesc {
  text-align: center;
  padding: 0px 30px 30px;
}
.ConDesc h1 {
  margin: 20px;
}
.ConDesc p {
  font-size: 20px;
  line-height: 25px;
}
.conPara {
  text-align: center;
  margin: 10px 30px 30px;
}
.conPara p {
  padding: 10px;
}
.tCharges {
  padding: 30px 20px;
}
.cCon img {
  width: 100%;
}
.tCharges h1 {
  margin: 10px 0px;
  text-align: center;
}
.Services {
  margin: 20px;
  border: 1px solid;
}
.Services h1 {
  padding: 10px;
  background-color: gainsboro;
  margin: 0;
  text-align: justify;
}
.Services ul {
  padding: 10px;
}
.Services ul li {
  list-style: none;
  padding: 5px 0px;
  cursor: pointer;
  transition: padding-left 0.3s ease-in;
  border-bottom: 1px dotted;
}
.Services ul li:last-child {
  border-bottom: 0;
}
.Services ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(67, 7, 7);
}
.Services ul li:hover {
  padding-left: 10px;
}
.ServicesList li {
  padding: 2px 0px;
  transition: padding-left 0.3s ease-in;
}
.ServicesList li:last-child {
  display: block;
}
.ServicesList {
  padding-left: 10px;
  display: none;
}
.toogleService {
  display: block;
  transition: 0.3s ease-in;
}
.caret-down {
  transition: transform 0.3s ease-in-out;
}
.rotate {
  transform: rotate(180deg);
}
.ServicesList li:hover {
  padding-left: 10px;
  background-color: #96e9f8;
}
.mDesc {
  text-align: center;
}
.mainSection {
  padding: 20px;
}
.mainSection p {
  padding: 10px;
}
.mainSection h2 {
  background-color: #052093;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
}
.mContent1 img {
  width: 100%;
  height: 30vh;
  border: 4px solid darkgray;
  border-radius: 15px;
  margin: 20px 0px;
}
.mContent1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row ul {
  padding: 10px 25px;
}
.row ul li {
  padding: 10px;
}
.faq-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}
.question-container h3 {
  width: 90%;
}
.answer-container {
  display: none;
  padding-left: 10px;
  padding-top: 5px;
}

.answer-container p {
  margin: 5px 0;
}

.fa-caret-down {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.faq-container.active .answer-container {
  display: block;
}
.silderBtns {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 5px;
}
.silderBtns i,
.silderBtns1 i {
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.silderBtns i:hover,
.silderBtns1 i:hover {
  background-color: black;
  color: white;
}
.sSlider1 {
  position: relative;
}
.silderBtns1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 110%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.locations {
  padding: 40px 20px;
  background-color: azure;
}
.locDesc {
  text-align: center;
  padding-bottom: 30px;
}
.locs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.locs div {
  width: 80%;
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}
.locs div a {
  text-decoration: none;

  color: rgb(244, 31, 127); /* Default color */
}

.locs div:hover {
  transform: scale(1.3);
}

.locs div i {
  font-size: 30px;
  padding: 15px;
}
.social-icons {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .menus {
    display: none;
    z-index: 0;
  }

  .navList {
    position: relative;
    background-image: none;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0px;
    transform: translateX(0%);
    border-radius: 0;
  }
  .Logo {
    width: 10%;
    padding: 5px;
  }
  .ImgSlider {
    height: 45vh;
  }
  .imgContent {
    width: 60%;
    left: 8%;
    transform: translateX(0%);
    gap: 15px;
  }
  .imgContent p {
    font-size: 20px;
  }
  .imgContent .appointBtn {
    height: 20%;
    width: 40%;
  }
  .experience {
    padding: 30px 15px;
    gap: 0;
    flex-direction: row;
    height: 100%;
  }
  .experience div {
    border-right: outset;
    height: 10vh;
  }
  .experience :last-child {
    border-right: 0;
  }
  .content1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0px;
  }
  .mainCon {
    width: 45%;
    margin: 0px;
    text-align: justify;
    align-items: baseline;
  }
  .readBtn {
    width: 100%;
  }
  .content1 img {
    width: 45%;
    margin: 0px;
  }
  .WhyUsBlock {
    padding: 30px 100px;
    gap: 50px;
  }
  .whyDetails {
    gap: 20px;
    width: 80%;
  }
  .doc {
    width: 50%;
  }
  .docProfile {
    flex-direction: row;
  }
  .doc img {
    width: 45%;
    height: 20vh;
    margin: 20px;
  }
  .feeBtn {
    height: 5vh;
    width: 65%;
  }
  .feeCon h1 {
    margin: 20px 0px;
  }
  .sSlider1 {
    display: none;
  }
  .sSlider2 {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .Specialists {
    margin: 30px 20px;
  }
  .specialistSlider {
    width: 32%;
    height: 35vh;
  }
  .specialistImg1 {
    height: 26vh; /* Match the height of the parent container */
    display: flex; /* Align images horizontally */
    width: 100%; /* Default to parent's width */
    transition: transform 1s ease;
  }
  .specialistImg1 img {
    flex: 0 0 100%; /* Each image takes 100% of the parent's width */
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;
    border-radius: 25px;
  }
  .specialistCon {
    width: 100%;
    height: 20%;
    padding: 20px 10px 10px;
  }
  .specialistBtns1 p {
    height: 20px;
    width: 20px;
    background-color: #2c471c;
    border-radius: 50%;
  }
  .specialistBtns1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 10px;
    transition: transform 0.3s ease-in;
    cursor: pointer;
  }
  .specialistDesc {
    margin: 60px;
  }
  .specialistBtns1 p:hover,
  .specialistBtns1 p.active {
    transform: scale(1.1);
    background-color: #d0dcc6;
  }
  .serviceCon {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
  .container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 45px 40px;
  }
  .container form {
    width: 45%;
  }
  .conDesc {
    width: 45%;
  }
  .footerCon {
    height: 50vh;
    flex-direction: row;
  }
  .Fimg {
    width: 45%;
    gap: 0px;
    justify-content: space-around;
  }
  .Fimg img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
  }
  .appointBtn1 {
    width: 80%;
  }
  .footerappointBtn {
    height: 7vh;
    width: 80%;
    border: 0;
    border-radius: 15px;
  }
  .Fcontact {
    width: 45%;
    gap: 0px;
    align-items: baseline;
    text-align: left;
    justify-content: space-around;
  }
  .ImgCon img {
    height: 15vh;
  }
  .ImgCon h2 {
    width: 35%;
  }
  .ConDesc p {
    width: 70%;
    margin: 0 auto;
  }
  .ServicesList {
    position: absolute;
    padding: 25px 15px 0px;
    background-color: white;
    width: 200px;
    transform: none;
  }
  .ServicesList li {
    padding: 5px 0px;
  }
  .mContentSection {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;
  }
  .mContent1 {
    width: 65%;
  }
  .mContent2 {
    width: 35%;
  }
  .mDesc {
    text-align: justify;
    padding-left: 20px;
  }
  .mContent1 img {
    width: 65%;
    height: 23vh;
  }
  .navList {
    transition: all 0.3s ease;
  }
  .navList li:hover {
    transform: scale(1.1);
  }
  .navList li a:hover {
    color: darkblue;
  }
  .silderBtns2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 105%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .silderBtns2 i {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .silderBtns2 i:hover {
    background-color: black;
    color: white;
  }
  .locs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
    gap: 20px;
  }
  .social-icons {
    width: 60%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  header {
    padding: 10px 30px;
    height: 10vh;
  }
  .Logo {
    width: 5%;
  }
  .navList li:last-child {
    display: block;
    width: 20%;
  }
  .navList {
    width: 70%;
    justify-content: space-around;
    font-size: 20px;
  }
  .navList li:last-child a,
  .appointBtn {
    height: 8vh;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: navy;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .navList li:last-child a:hover {
    background-color: #45a049; /* Slightly darker green on hover */
    color: #fff; /* Keep the text white */
    transform: scale(1.1); /* Slight zoom effect */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
  .ImgSlider {
    margin-top: 10vh;
    height: 60vh;
  }
  .imgContent {
    width: 50%;
    height: 65%;
  }

  .imgContent .appointBtn {
    height: 25%;
    width: 35%;
  }
  .imgBtns span {
    height: 10px;
    width: 10px;
  }
  .experience div {
    height: 12vh;
  }
  .content1 {
    gap: 100px;
  }
  .mainCon {
    width: 55%;
  }
  .content1 img {
    width: 30%;
    height: 50vh;
  }
  .mainCon a {
    width: 25%;
  }

  .WhyCon {
    flex-direction: row;
  }
  .WhyCon1 {
    width: 40%;
  }
  .WhyUsBlock {
    padding: 30px 20px;
  }
  .WhyImg {
    width: 40%;
  }
  .ConNav {
    width: 60%;
    margin: 40px auto;
  }
  .docProfile {
    justify-content: center;
    gap: 45px;
  }
  .doc {
    width: 45%;
  }
  .doc img {
    width: 25%;
    height: 35%;
  }
  .Fees img {
    height: 45vh;
    object-fit: cover;
  }
  .feeBtn {
    height: 7vh;
  }
  .Specialists {
    margin: 30px 70px;
  }
  .specialistDesc {
    margin: 30px 200px;
  }
  .specialistSlider {
    height: 45vh;
    width: 30%;
  }
  .specialistImg1 {
    height: 35vh; /* Match the height of the parent container */
  }
  .specialistCon {
    height: 17%;
  }
  .specialistBtns1 p {
    height: 15px;
    width: 15px;
  }
  .container form {
    width: 35%;
  }
  .conDesc {
    width: 35%;
  }
  .Fimg img {
    width: 45%;
    height: 70%;
    border-radius: 50%;
  }
  .appointBtn1 {
    width: 45%;
  }
  .footerappointBtn {
    width: 60%;
  }
  .ImgCon img {
    height: 25vh;
  }
  .ImgCon h2 {
    width: 25%;
  }
  .ConDesc p {
    width: 50%;
  }
  .cCon {
    display: flex;
    gap: 20px;
  }
  .cCon img {
    height: 80vh;
    width: 75%;
  }
  .Services {
    margin: 0;
  }
  .ServicesList li:last-child {
    width: 100%;
  }
  .ServicesList li a:last-child {
    border-radius: 0px;
    color: black;
    background: none;
    box-shadow: none;
    font-size: inherit;
    justify-content: flex-start; /* Corrected from 'start' to 'flex-start' */
    height: auto;
    padding-bottom: 10px;
  }
  .ServicesList li a:last-child:hover {
    background: none;
    color: black; /* Keep the text white */
    transform: none;
    box-shadow: none;
    border-radius: inherit; /* Keep the default border-radius */
    transition: none;
    font-size: inherit;
    padding: 0;
  }
  .silderBtns {
    padding: 0px 15px;
  }
  .mContent1 {
    width: 72%;
  }
  .mContent2 {
    width: 25%;
  }

  .mContent1 img {
    width: 35%;
    height: 35vh;
  }
  .locs {
    justify-content: space-around;
  }
  .locs div {
    width: 25%;
  }
  .social-icons {
    width: 35%;
  }
}
